.button_wrap{
  width:60%;
  height:.9rem;
  border:none;
  outline:none;
  border-radius:.45rem;
  background:#FB4141;  
  text-align:center;
  color:#fff;
  font-size:.3rem;
  margin:1rem auto;
  .iconfont{
    padding:0 .2rem;
    color:#fff;
    font-size:.3rem;
  }
}