.result_wrap{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  .result_header{
    width:100%;
    height:.74rem;
    background:#f0f;
    display:flex;
    justify-content:space-between;
    padding:0 .2rem;
  }
  .search_wrap{
    flex:7;
    height:.6rem;
    line-height:.5rem;
    background:#eee;
    border-radius:.1rem;
    input{
      margin-bottom:.2rem;
      // border:none;
      outline:none;
      background:transparent;
    }
    span{
      margin-top:.3rem;
    }
  }
}